<div class="signin__header">
  <a href="/auth" class="signin-link" id="signin">Вход</a>
  <img src="svg/separator.svg" />
  <a href="/registration" class="signin-link" id="registration">Регистрация</a>
</div>
{{#unless isSignUpPage}}
  <div class="signin__inputs">
    {{{textfieldLogin}}}
    {{{passfieldLogin}}}
  </div>
{{/unless}}
{{#if isSignUpPage}}
  <div class="registration-form__inputs">
    <div class="registration-form__inputs-column">
      {{{nameReg}}}
      {{{phoneReg}}}
      {{{loginReg}}}
    </div>
    <div class="registration-form__inputs-column">
      {{{secondNameReg}}}
      {{{emailReg}}}
      {{{passReg}}}
    </div>
  </div>
{{/if}}
{{{authButton}}}