<div class="signin__header">
  {{{signInButton}}}
  <img src="svg/separator.svg" />
  {{{signUpButton}}}
</div>
{{#unless isSignUpPage}}
  <div class="signin__inputs">
    {{{textfieldLogin}}}
    {{{passfieldLogin}}}
  </div>
{{/unless}}
{{#if isSignUpPage}}
  <div class="registration-form__inputs">
    <div class="registration-form__inputs-column">
      {{{nameReg}}}
      {{{phoneReg}}}
      {{{loginReg}}}
    </div>
    <div class="registration-form__inputs-column">
      {{{secondNameReg}}}
      {{{emailReg}}}
      {{{passReg}}}
    </div>
  </div>
{{/if}}
{{{authButton}}}