<div class="chats-sidebar__link">{{{LinkComponent}}}</div>
<div class="chats-sidebar__data">
  <div class="chats-sidebar__create">
    {{{CreateChatTitle}}}
    {{{CreateChatButton}}}
  </div>
  {{{SearchComponent}}}
  <div class="chats-sidebar__list">{{{ChatsListComponent}}}</div>
</div>
<div class="chats-sidebar__logout">{{{ButtonLogoutComponent}}}</div>