<div class="registration-form__header">
  {{{signInButton}}}
  <img src="svg/separator.svg" />
  {{{signUpButton}}}
</div>
<div class="registration-form__inputs">
  <div class="registration-form__inputs-column">
    {{{nameReg}}}
    {{{phoneReg}}}
    {{{loginReg}}}
  </div>
  <div class="registration-form__inputs-column">
    {{{secondNameReg}}}
    {{{emailReg}}}
    {{{passReg}}}
  </div>
</div>
{{{authButtonUp}}}