<div class="profile__link">{{{LinkComponent}}}</div>
<div class="profile__avatar">
  <img src="/svg/default-avatar.svg" />
</div>
<div class="profile__columns">
  <div class="profile__inputs">
    <div class="profile__change-info-text">Изменить данные</div>
    <div class="profile__inputs-column">
      {{{nameProfile}}}
      {{{secondNameProfile}}}
      {{{searchNameProfile}}}
      {{{phoneProfile}}}
      {{{emailProfile}}}
      {{{loginProfile}}}
    </div>
  </div>
  <div class="profile__change-password">
    <div class="profile__change-info-text">Изменить пароль</div>
    <div class="profile__change-password-rows">
      {{{oldPassProfile}}}
      {{{newPassProfile}}}
    </div>
  </div>
</div>
{{{buttonProfile}}}
<input name="avatar" class="profile__avatar-input" />