<div class="input">
  <label for="{{name}}" class="input__label">{{label}}</label>
  <input
    type="text"
    autocomplete="true"
    autofocus="true"
    maxlength="100"
    minlength="5"
    name="{{name}}"
    placeholder="{{placeholder}}"
    value="{{value}}"
    id="{{name}}"
    class="input__view"
  />
</div>