{{#if label}}
  <label for="{{name}}" class="input__label {{labelclass}}">{{label}}</label>
{{/if}}
<input
  {{#if type}}
    type={{type}}
  {{/if}}
  {{#unless type}}
    type="text"
  {{/unless}}

  {{#if autocomplete}}
    autocomplete={{autocomplete}}
  {{/if}}
  
  {{#if autofocus}}
    autofocus={{autofocus}}
  {{/if}}
  {{#unless autofocus}}
    autofocus="true"
  {{/unless}}
  
  {{#if maxlength}}
    maxlength={{maxlength}}
  {{/if}}

  {{#if minlength}}
    minlength={{minlength}}
  {{/if}}
  
  {{#if placeholder}}
    placeholder="{{placeholder}}"
  {{/if}}
  
  
  name="{{name}}"
  value="{{value}}"
  id="{{name}}"
  class="input__view {{inputclass}}"
/>